@import url('https://fonts.googleapis.com/css?family=Oswald:300|Roboto:300');

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.clicked {
  text-decoration: none;
}

.unclicked {
  text-decoration: underline;
}

.imagetest {
  background: url('../../assets/cyberman.jpg');
}

.wrapper {
  text-align: center
}

.article-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
  grid-gap: 15px;
}

.article-card {
  overflow: hidden;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  /* min-height: 300px;
  max-height: 350px; */
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.article-card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.article-card img {
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  width: 100%;
  max-height: 180px;
}

.headline {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  color: #2e2e2e;
  padding-left: 5px;
  padding-right: 5px;
}

.overlay {
  display: grid;
  align-content: center;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  /* transform: translateY(100%); */
  color: black;
  background-color: #fff;
}

.article-card:hover .overlay {
  opacity: 1;
  /* transform: translateY(0); */
}

.btn {
  text-decoration: none;
  background: white;
  font-size: .7em;
  color: black;
  border: 2px solid lightgreen;
  grid-column: 2 / 3;
  padding: 2px;
}

.btn:hover {
  border: 2px solid lightcoral;
}

.arrow {
  color: black;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.summary {
  grid-column: 1 / -1;
  padding: 15px;
}

.category p {
  color: #a8a8a8;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 15px;
}


